#!/bin/sh
# Start/stop the cron daemon.
#
### BEGIN INIT INFO
# Provides:          simpsh-httpd
# Required-Start:    $network
# Required-Stop:     
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: simpsh-httpd
# Description:       simpsh-httpd is a simple webserver
### END INIT INFO


test -f /usr/share/simpsh-httpd/start-socat.sh || exit 0
test -f /usr/bin/simpsh-httpd-socat || exit 0

#LSBNAMES='-l'  # Uncomment for LSB name support in /etc/cron.d/

. /lib/lsb/init-functions

case "$1" in
start)  log_daemon_msg "Starting simpsh-httpd" "simpsh-httpd"
        start-stop-daemon --start --quiet --name simpsh-httpd --pidfile /run/lock/simpsh-httpd.pid --startas /bin/bash /usr/bin/simpsh-httpd-socat -- $LSBNAMES
        log_end_msg $?
        ;;
stop)   log_daemon_msg "Stoping simpsh-httpd" "simpsh-httpd"
        start-stop-daemon --stop --quiet --pidfile /run/lock/simpsh-httpd.pid --name simpsh-htpd
        log_end_msg $?
        ;;
restart) log_daemon_msg "Restarting simpsh-httpd" "simpsh-httpd" 
        /etc/init.d/simpsh-httpd.sh stop
        sleep 2
        /etc/init.d/simpsh-httpd.sh start
        log_end_msg $?
        ;;
*)      log_action_msg "Usage: /etc/init.d/cron {start|stop|restart|reload|force-reload}"
        exit 2
        ;;
esac
exit 0
